*
{
	margin: 0;
	padding: 0;
}

body
{
	background-image: url('../img/geometric-leaves.png');
	color: #424949;
}

h1, h2
{
	text-align: center;
	padding: 20px;
	margin-top: 80px;
	font-family: 'Lobster', cursive;
	color: #1A5276;
	text-shadow: 4px 4px 8px #C0C0C0;
}

h1, h2
{
	font-size: 60px;
}

h2
{
	font-size: 50px;
	margin-top: 10%;
	margin-bottom: 15px;
}

form
{
	padding: 20px;
	text-align: center;
	margin-top: 15px;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 25px;
	background: rgb(70, 130, 180, 0.6);
	margin: auto;
	width: 50%;
	border-radius: 25px;
}

input
{
	margin-bottom: 25px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

p
{
	text-align: center;
	padding: 10px;
	margin: 10px;
	font-size: 30px;
	font-family: 'Barlow Condensed', sans-serif;
}

#data
{
	background: rgb(70, 130, 180, 0.5);
	padding: 20px;
	margin: auto;
	width: 50%;
	border-radius: 25px;
}
	
#reset, #submit
{
	margin: 20px;
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
	border: none;
}

#reset:hover, #submit:hover
{
	background-color: #1A5276;
	color: white;
	cursor: pointer;
}
	